#############################################
# Observium DB Config
#############################################
DB_HOST=db
DB_NAME=observium
DB_USER=    
DB_PASS=

#############################################
# MariaDB Root
#############################################
MARIADB_ROOT_PASSWORD=
############## Admin User############################
ADMIN_USER=
ADMIN_PASS=
#############################################
# Optional Observium Settings
#############################################
TZ=